pydantic==1.10.13
aiohttp==3.9.4
langchain==0.2.3
requests==2.32.2
typer==0.7.0
PyYAML~=6.0
setuptools~=70.3.0
annoy==1.17.1
sentence-transformers==2.2.2
fastapi==0.109.1
starlette==0.36.2
uvicorn==0.21.1
httpx==0.23.3
simpleeval==0.9.13
